Repository starmarek/garbage-classifier-web-interface: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, eslint, prettier

black:
  name: black
  entry: black
  language: python

flake8:
  name: flake8
  entry: flake8
  language: python

isort:
  name: isort
  entry: isort
  language: python

eslint:
  name: eslint
  entry: node_modules/.bin/eslint
  language: node

prettier:
  name: prettier
  entry: node_modules/.bin/prettier -w
  language: node

fix pre-commit config
  .pre-commit-config.yaml
Due: none

change color scheme and edit navbar
  src/components/Home.vue
  src/components/Navbar.vue
  src/styles/colors.scss
Due: eslint, prettier

Remove footer and change hero banner on home page
  src/App.vue
  src/assets/home_hero_background.jpg
  src/components/Footer.vue
  src/components/Home.vue
  src/styles/colors.scss
Due: eslint, prettier

add button and error dialog to upload window
  public/index.html
  src/components/Home.vue
Due: eslint, prettier

hardcode node / ubuntu / nginx versions
  .gitlab-ci.yml
  docker/dev/Dockerfile.frontend.dev
  docker/prod/Dockerfile.django.prod
  docker/prod/Dockerfile.nginx.prod
Due: none

add client side file_upload
  src/components/Home.vue
  src/store/index.js
  src/store/modules/file_upload.js
Due: eslint, prettier

create initial DRF api endpoint and install tensorflow
  .gitignore
  Pipfile
  Pipfile.lock
  backend/api/urls.py
  backend/settings.py
  backend/tfpredict/__init__.py
  backend/tfpredict/admin.py
  backend/tfpredict/apps.py
  backend/tfpredict/tests.py
  backend/tfpredict/views.py
  docker-compose.yml
  docker/dev/frontend_setup_dev.sh
  src/store/modules/file_upload.js
Due: black, flake8, isort, eslint, prettier

fix linting and add most recent NNmodel to tfpredict backend app
  backend/api/urls.py
  backend/tfpredict/model/model.hdf5.REMOVED.git-id
  backend/tfpredict/views.py
  pyproject.toml
  src/store/modules/file_upload.js
Due: black, flake8, isort, eslint, prettier

finish prediction API endpoint
  Pipfile
  Pipfile.lock
  backend/tfpredict/utils/load_files.py
  backend/tfpredict/utils/predict.py
  backend/tfpredict/views.py
  src/components/Home.vue
  src/store/modules/file_upload.js
Due: black, flake8, isort, eslint, prettier

add file extension and size checks | increase nginx POST size
  docker/prod/nginx.conf
  src/components/Home.vue
Due: eslint, prettier

fix HTTP 500 server error "directory not found"
  backend/tfpredict/views.py
Due: black, flake8, isort

improve prediction preformance
  backend/settings.py
  backend/tfpredict/utils/load_files.py
  backend/tfpredict/utils/predict.py
Due: black, flake8, isort

predict-dialog with skeleton animation and image display (no labels yet)
  src/components/Home.vue
  src/store/modules/file_upload.js
  vue.config.js
Due: eslint, prettier

add result labels over photos on prediction dialog
  src/components/Home.vue
  src/store/modules/file_upload.js
Due: eslint, prettier

change size of pictures on predict dialog
  src/components/Home.vue
Due: eslint, prettier

fix misspeled CSS property
  src/components/Home.vue
Due: eslint, prettier

add tile system on home page
  src/assets/tiles_photos/1.jpg
  src/assets/tiles_photos/10.jpg
  src/assets/tiles_photos/11.jpg
  src/assets/tiles_photos/12.jpg
  src/assets/tiles_photos/13.jpg
  src/assets/tiles_photos/14.jpg
  src/assets/tiles_photos/2.jpg
  src/assets/tiles_photos/3.jpg
  src/assets/tiles_photos/4.jpg
  src/assets/tiles_photos/5.jpg
  src/assets/tiles_photos/6.jpg
  src/assets/tiles_photos/7.jpg
  src/assets/tiles_photos/8.jpg
  src/assets/tiles_photos/9.jpg
  src/components/Home.vue
  src/components/HomeTiles.vue
Due: eslint, prettier

move predictdialog to other file, make predictdialog opened by vuex
  src/components/Home.vue
  src/components/HomeTiles.vue
  src/components/PredictionDialog.vue
  src/main.js
  src/store/modules/file_upload.js
Due: eslint, prettier

wire up fileValidation before prediction submit
  src/components/Home.vue
Due: eslint, prettier

fix "" empty string vuex warning
  src/store/modules/file_upload.js
Due: eslint, prettier

make tiles clickable. make user upload files independent of vuex dropFiles
  src/components/Home.vue
  src/components/HomeTiles.vue
  src/store/modules/file_upload.js
Due: eslint, prettier

change size of predictions images
  src/components/PredictionDialog.vue
Due: eslint, prettier

add curtain effect on home page
  src/components/Home.vue
  src/components/Navbar.vue
Due: eslint, prettier

add scroll button and Y allign upload box
  src/components/Home.vue
Due: eslint, prettier

add Footer and Instructions component
  src/assets/logo.png
  src/components/Footer.vue
  src/components/Home.vue
  src/components/HomeTiles.vue
  src/components/Instructions.vue
  src/components/Navbar.vue
  src/router.js
Due: eslint, prettier

add description on home page hero banner
  src/components/Home.vue
Due: eslint, prettier

add tooltip to upload button and change disabled button style
  .pre-commit-config.yaml
  package.json
  src/App.vue
  src/components/Home.vue
  yarn.lock
Due: eslint, prettier

add emojis to predictions
  backend/tfpredict/utils/predict.py
Due: black, flake8, isort

fix footer bug with routing failure to "/"
  src/components/Footer.vue
Due: eslint, prettier

add docker prune step in gitlab deploy pipeline
  .gitlab-ci.yml
Due: none

refactor elements placement on home page curtain
  src/components/Home.vue
Due: eslint, prettier

complete the about waste control section and add parallax
  src/App.vue
  src/assets/buefy.png
  src/assets/bulma.png
  src/assets/django.png
  src/assets/docker.png
  src/assets/keras.png
  src/assets/tensorflow.png
  src/assets/vue.png
  src/components/About.vue
  src/components/Footer.vue
Due: eslint, prettier

add author about section, change size of parallax and pwr image style
  src/assets/author.jpg
  src/assets/parallax.jpg
  src/assets/parallax1.jpg
  src/components/About.vue
Due: eslint, prettier

change properties of elements on home curtain
  src/components/Home.vue
Due: eslint, prettier

remove instructions page
  src/components/Footer.vue
  src/components/Instructions.vue
  src/components/Navbar.vue
  src/router.js
Due: eslint, prettier

modify navbar height spacing
  src/components/About.vue
  src/components/Home.vue
  src/components/Navbar.vue
Due: eslint, prettier

fix perspective photo layout on about page
  src/components/About.vue
Due: eslint, prettier

add more timeout to home page button scroll
  src/components/Home.vue
Due: eslint, prettier

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  eslint: any of: \.(vue|js)
  prettier: any of: \.(vue|js)
